$col-bg: #1e1e1e;
$col-bg-dark: darken(#1e1e1e, 4%);
$col-bg-darker: darken(#1e1e1e, 8%);
$col-bg-light: lighten(#1e1e1e, 4%);
$col-bg-lighter: lighten(#1e1e1e, 8%);
$col-fg: #f6f6f6;

$col-acc-p: #366d9e;
$col-acc-s: #fbd143;

$breakpoint-tablet: 768px;
